
.content {
  width: 100%;
  max-width: 1700px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 5.4rem;
  gap: 0.8rem;
  margin-top: -2.7rem;
  margin-bottom: 6.4rem;
}

.input {
  width: 63.8rem;
  height: 5.4rem;
  padding-left: 4.8rem;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background-color: var(--gray-500);
  color: var(--gray-300);
}

.input:focus {
  border: 1px solid var(--purple-dark);
  outline: none;
  color: var(--gray-100);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 5.4rem;
  color: var(--gray-100);
  border-radius: 8px;
  border: none;
  font-weight: 700;
  font-size: 1.4rem;
  background-color: #e24743;
  cursor: pointer;
}


.searchWrapper {
  position: relative;
  width: 100%; 
  max-width: 63.8rem; 
  height: 5.4rem;
}


.searchIcon {
  position: absolute;
  left: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray-300);
  pointer-events: none;
}

.modalDetailContent {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1.2rem;
}

.modalDetailContent p {
  text-align: left; 
  width: 100%;       
  max-width: 400px;  
  color: var(--gray-100);
}


.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin-bottom: 2.4rem;
}

.counter p {
  font-weight: 700;
  font-size: 1.4rem;
}

.counter p:first-child {
  color: var(--blue);
}

.counter p:last-child {
  color: var(--purple);
}

.counter span {
  padding: 0.2rem 0.8rem;
  margin-left: 0.8rem;
  border-radius: 999px;
  background-color: var(--gray-400);
  color: var(--gray-100);
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;     
}

.modalDelete {
  text-align: center;    
  color: var(--gray-100);
}

.modalActions {
  display: flex;
  justify-content: center; 
  gap: 1rem;
  margin-top: 1.6rem;
}


.modal {
  background: var(--gray-500);
  padding: 2.4rem;
  border-radius: 8px;
  width: 100%;
  max-width: 650px;
}

.modal h2 {
  margin-bottom: 1.6rem;
  text-align: center;
  color: var(--gray-100);
  padding-bottom: 30px;
}

.modal input {
  width: 100%;
  max-width: 500px;
  height: 4.8rem;
  padding: 0 1.6rem;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-400);
  color: var(--gray-100);
}

.modal select {
  width: 100%;
  height: 4.8rem;
  margin-top: 1rem;
  padding: 0 1.6rem;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-400);
  color: var(--gray-100);
}

.modal input + input,
.modal input + select,
.modal select + input {
  margin-top: 1rem;
}

.modalActions {
  display: flex;
  gap: 1rem;
  margin-top: 46px;
}

.modalActions button {
  height: 4rem;
  padding: 0 1.6rem;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  z-index: 10;
}

.modalActions button:first-child {
  background: #e24743;
  color: #fff;
}

.modalActions button:last-child {
  background: var(--gray-700);
  color: var(--gray-100);
}


.board {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  padding: 1rem;
  align-items: flex-start;
}

.column {
  min-width: 280px;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;

}

.columnTitle {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;

  text-align: center;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.columnHeader {
  display: flex;
  align-items: center;         
  justify-content: space-between;
  margin-bottom: 1rem;
}

.columnTitle {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.70 0.75rem;   
  border-radius: 999px;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5rem;         
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.columnTitle .statusDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.taskCounter {
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5rem;         
  padding: 0.2rem 0.6rem;
  border-radius: 999px;
}

