.containerHeader {
  width: 100%;
  overflow: hidden;
}


.header {
  width: 100%;
  height: auto;          
  max-height: 500px;     
  object-fit: cover;
  display: block;
}

@media (max-width: 1024px) {
  .header {
    max-height: 400px;
  }
}


@media (max-width: 768px) {
  .header {
    max-height: 280px;
  }
}


@media (max-width: 480px) {
  .header {
    max-height: 220px;
  }
}
